.mainContainer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.header {
  text-align: center;
  flex: 0;
}

.Content {
  flex: 1 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  gap: 20px;

  padding: 0px 30px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.inputWrapper .button {
  all: unset;
  width: 95%;
  height: 25px;
  background-color: red;
  text-align: center;
  border-radius: 5px;

  transition: 0.2s ease-in-out;
}

.input {
  height: 30px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 5px;
}

.input:focus {
  background-color: #9ffd32;
  color: black;

  outline: none;
}

.button:hover {
  cursor: pointer;
}

.loading {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 10px solid #9ffd32;
  transform: rotate(0deg);

  animation: loadingAnimation infinite 1s;
}

.list {
  text-align: left;
}

@keyframes loadingAnimation {
  from {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    border-radius: 20px;
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-radius: 10px;
  }
}
